.header {
  height: 60px;
  padding: 18px;
  position: fixed;
  inset: 0;
  box-sizing: border-box;
  background-color: indigo;
  z-index: 1000;

  .logo {
    color: wheat;
  }

  .links {
    a {
      color: wheat;
      font-weight: bold;
      margin-right: 8px;

      &.active {
        text-decoration: underline;
      }
    }
  }
}
